.movies-card {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.movies-card:hover {
  cursor: pointer;
}

.movies-card__container {
  height: 209px;
  border-bottom: 1px solid #E8E8E8;
}

.movies-card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 7px;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
}

.movies-card__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 4px 0 0;
  max-width: 226px;
}

.movies-card__button {
  background-color: #F9F9F9;
  background-image: url(../../images/movies-card-like-disabled.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  border: none;
  transition: background-image 0.2s linear;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__button_active {
  background-image: url(../../images/movies-card-like-active.svg);
}

.movies-card__button_place_saved-movies {
  background-image: url(../../images/movies-card-like-delete.svg);
  display: none;
}

.movies-card__button_visible {
  display: block;
}

.movies-card__duration {
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0 0;
}

@media screen and (max-width: 768px) {
  .movies-card {
    width: 339px;
  }

  .movies-card__container {
    height: 248px;
  }

  .movies-card__image {
    height: 190px;
  }

  .movies-card__title {
    max-width: 295px;
  }
}

@media screen and (max-width: 500px) {
  .movies-card {
    width: 300px;
  }

  .movies-card__container {
    height: 227px;
  }

  .movies-card__image {
    height: 168px;
  }

  .movies-card__title  {
    max-width: 255px;
  }
}