.burger-button {
  width: 44px;
  height: 44px;
  background-color: transparent;
  z-index: 1;
  background-image: url(../../images/menu-closed.svg);
  background-position: center;
  opacity: 1;
  transition: background-image 0.5s, opacity 0.5s;
}

.burger-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.burger-button_opened {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: -9px;
  background-image: url(../../images/menu-opened.svg);
  background-position: center;
}

.burger-button_color_black {
  background-image: url(../../images/menu-black.svg);
}

@media (max-width: 500px) {
  .burger-button {
    width: 24px;
    height: 43px;
    margin-right: 9px;
  }

  .burger-button__opened {
    width: 34px;
    height: 34px;
    top: 13px;
    right: -1px;
  }
}

