.promo {
  background-color: #073042;
  height: 574px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  width: 90vw;
}

.promo__info {
  max-width: 1140px;
  margin: 75px 0 0;
  
}

.promo__title {
  width: 50vw;
  max-width: 640px;
  color: #FFF;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  margin: 0 0 36px 0;
}

.promo__subtitle {
  width: 310px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 146px;
}

@media screen and (max-width: 768px) {
  .promo {
    display: block;
    height: 850px;
  }

  .promo__container {
    display: block;
    padding: 0;
    width: 100%;
  }

  .promo__info {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .promo__title {
    font-size: 5.1vw;
    line-height: 50px;
    width: 88vw;
    text-align: center;
    margin: 0 auto 22px;
  }

  .promo__subtitle {
    text-align: center;
    margin: 0 auto 92px;
    width: 260px;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    height: 636px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
    width: 300px;
    margin: 0;
  }

  .promo__subtitle {
    margin: 24px auto 80px;
  } 
}

@media screen and (min-width: 1280px) {
  .promo__title {
    font-size: 50px;
  }
}