.globe-img {
  width: 310px;
  height: 304px;
  margin: 75px 0 auto auto;
}

@media screen and (max-width: 1040px) {
  .globe-img {
    width: 210px;
    margin: 32px 50px auto auto;
  }
}

@media screen and (max-width: 768px) {
  .globe-img {
    display: block;
    margin: 0 auto 48px auto;
    width: 310px;
    height: 304px;
    padding: 140px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .globe-img {
    width: 210px;
    height: 206px;
    margin: 0 auto 44px;
    padding: 70px 0 0;
  }
}