.page {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  background-color: #fff;
  min-width: 768px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    min-width: 320px;
  }
}