.account-button {
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2BE080;
  border-radius: 40px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 0 3px 0 11px;
  font-feature-settings: 'clig' off, 'liga' off;
  border: none;
}

.account-button__round {
  border-radius: 50%;
  background-color: white;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-button__image {
  width: 10,4px;
  height: 10,4px;
}

.account-button_color_white {
  background-color: white;
  box-shadow: 3px 5px 6px 5px rgba(0, 0, 0, 0.1);
}

.account-button__round_color_white {
  background-color: #F9F9F9;
}

.account-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .account-button {
    margin: 0;
    position: fixed;
    bottom: 90px;
  }
}
