.account-button {
  width: 100px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #2BE080;
  border-radius: 40px;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 0 3px 0 11px;
  font-feature-settings: 'clig' off, 'liga' off;
  border: none;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.account-button__round {
  border-radius: 50%;
  background-color: white;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-button__image {
  width: 10,4px;
  height: 10,4px;
}

.account-button_color_white {
  background-color: white;
  -webkit-box-shadow: 3px 5px 6px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 5px 6px 5px rgba(0, 0, 0, 0.1);
}

.account-button__round_color_white {
  background-color: #F9F9F9;
}

.account-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .account-button {
    margin: 0;
    position: fixed;
    bottom: 90px;
  }
}
