.submit-button {
  padding: 0;
  margin: 128px 0 16px;
  width: 100%;
  height: 45px;
  background-color: #3456F3;
  border: none;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.5s;
}

.submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.submit-button_place_login {
  margin: 198px 0 16px;
}

.submit-button_place_profile {
  margin: 0;
}