.search-form {
  max-width: 1140px;
  width: 89vw;
  margin-top: 70px;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.search-form__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 13px;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.search-form__container:focus-within {
  border-bottom: 1px solid black;
}

.search-form__input {
  border: none;
  padding: 0;
  color: #A0A0A0;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 83vw;
}

.search-form__input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-form__button {
  background-color: #3456F3;
  border: none;
  width: 59px;
  height: 34px;
  border-radius: 48px;
  color: white;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 21px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.search-form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .search-form {
    height: 227px;
    margin-top: 80px;
    max-width: 708px;
    width: 92vw;
  }

  .search-form__input {
    width: 82vw;
  }

}

@media screen and (max-width: 500px) {
  .search-form {
    max-width: 472px;
    width: 91vw;
    margin-top: 84px;
    height: 194px;
  }

  .search-form__container {
    padding-bottom: 9px;
  }

  .search-form__input {
    font-size: 18px;
    width: 66vw;
  }
}