.authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 396px;
}

.authentication__title {
  margin: 40px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.authentication__form {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .authentication {
    width: 260px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .authentication__title {
    margin: 50px 0 80px;
  }

  .authentication__button-container {
    position: absolute;
    bottom: 30px;
    width: 260px;
  }
}