.authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 396px;
}

.authentication_place_profile {
  width: 410px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.authentication__title {
  margin: 40px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.authentication__title_place_profile {
  margin: 75px 0 105px;
}

.authentication__form {
  width: 100%;
}

.authentication__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 164px 0 0;
}

.authentication__button-container_place_register {
  margin: 95px 0 0;
}

.authentication__button-container_place_profile {
  margin: 172px 0 0;
}

.authentication__message {
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.authentication__message_color_black {
  color: black;
}

.authentication__submit-button {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  width: 100%;
  height: 45px;
  background-color: #3456F3;
  border: none;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.authentication__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.authentication__submit-button:disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  cursor: default;
}

.authentication__profile-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 205px;
}

.authentication__profile-button {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  margin-bottom: 16px;
  padding: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.authentication__profile-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.authentication__profile-button_type_signout {
  color: #FF3055;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .authentication__title_place_profile {
    margin: 0 0 82px;
}

  .authentication__profile-button-container {
    margin-top: 196px;
}
}

@media screen and (max-width: 500px) {
  .authentication {
    width: 260px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .authentication_place_profile {
    height: 76vh;
  }

  .authentication__profile-button {
    font-size: 12px;
  }
  
  .authentication__title {
    margin: 50px 0 80px;
  }

  .authentication__title_place_profile {
    margin: 0 0 65px;
  }

  .authentication__button-container {
    width: 260px;
    margin: 251px 0 30px;
  }

  .authentication__button-container_place_register {
    margin: 183px 0 30px;
}

  .authentication__button-container_place_profile {
    margin: 362px 0 40px;
  }

  .authentication__profile-button-container {
    margin: 362px 0 40px;
  }

  .authentication__submit-button {
    font-size: 12px;
  }
}