.saved-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.saved-movies__container {
  margin-bottom: 240px;
}