.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 74px;
  color: #FFFFFF;
  width: 100%;
}

.header_color_blue {
  background-color: #073042;
}

.header__container {
  max-width: 1140px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0;
    width: 92vw;
  }
}
