.header {
  display: flex;
  justify-content: center;
  height: 74px;
  color: #FFFFFF;
}

.header_color_blue {
  background-color: #073042;
}

.header__container {
  max-width: 1140px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0;
    width: 92vw;
  }
}

