.header-auth {
  display: flex;
  margin: 0 49px 0 0;
  align-items: center;
}

.header-auth__button {
  width: 76px;
  height: 32px;
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  border: none;
  color: #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}

.header-auth__button:first-of-type {
  margin: 0 30px 0 0;
  padding: 0;
  color: white;
  background-color: #073042;
}

@media screen and (max-width: 786px) {
  .header-auth {
    margin: 0 30px 0 0;
  }
}