.filter-checkbox {
  margin-top: 34px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: start;
  align-self: flex-start;
  z-index: 0;
  -webkit-transition: z-index 0.5s;
  -o-transition: z-index 0.5s;
  transition: z-index 0.5s;
}

.filter-checkbox_invisible {
  z-index: -1;
}

.filter-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  top: 7px;
  right: 7px;
}

.filter-checkbox__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.filter-checkbox__label:hover {
  cursor: pointer;
}

.filter-checkbox__visible-input {
  position: relative;
  width: 36px;
  height: 16px;
  border-radius: 20px;
  background-color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  margin: 0 14px 0 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.filter-checkbox__visible-input:hover {
  opacity: 0.8;
}

.filter-checkbox__round {
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #A0A0A0;
  border-radius: 50px;
  margin: 0;
  -webkit-transition: background-color 0.5s linear, left 0.3s linear;
  -o-transition: background-color 0.5s linear, left 0.3s linear;
  transition: background-color 0.5s linear, left 0.3s linear;
}

.filter-checkbox__input:checked + .filter-checkbox__visible-input {
  background-color: #2BE080;
}

.filter-checkbox__input:checked + .filter-checkbox__visible-input .filter-checkbox__round {
  background-color: white;
  left: 23px;
}

.filter-checkbox__input:disabled + .filter-checkbox__visible-input {
  background-color: #C4C4C4;
}

.filter-checkbox__input:disabled + .filter-checkbox__visible-input .filter-checkbox__round {
  background-color: #F5F5F5;
}

@media screen and (max-width: 768px) {
  .filter-checkbox {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 31px;
  }

  .filter-checkbox__label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .filter-checkbox__visible-input {
    margin: 0 0 0 14px;
  }
}

@media screen and (max-width: 500px) {
  .filter-checkbox {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .filter-checkbox {
    margin-top: 42px;
  }

  .filter-checkbox__label {
    font-size: 11px;
  }

  .filter-checkbox__visible-input {
    width: 34px;
  }

  .filter-checkbox__input:checked + .filter-checkbox__visible-input .filter-checkbox__round {
    left: 21.5px;
  }
}