.about-project {
  width: 100%;
  background-color: #FFFFFF;
  height: 608px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-project__container {
  max-width: 1140px;
  width: 87vw;
}

.about-project__description {
  list-style: none;
  max-width: 1140px;
  margin: 70px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 26px;
  padding: 0;
}

.about-project__description-cell {
  font-style: normal;
  max-width: 550px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  font-size: 20px;
}

.about-project__description-cell_place_bottom {
  font-size: 14px;
  line-height: 20px;
}

.about-project__table {
  list-style: none;
  margin: 110px 0 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 228px 1fr;
  grid-template-columns: 228px 1fr;
  -ms-grid-rows: 36px 36px;
  grid-template-rows: repeat(2, 36px);
}

.about-project__table > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about-project__table > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.about-project__table > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.about-project__table > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.about-project__table-cell {
  background-color: #F2F2F2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 9px;
}

.about-project__table-cell:first-of-type {
  background-color: #2BE080;
}

.about-project__table-cell_place_bottom {
  font-weight: 500;
  line-height: 17px;
  color: #A0A0A0;
  background-color: white;
  padding-top: 14px;
}

@media screen and (max-width: 768px) {
  .about-project {
    height: 585px;
  }

  .about-project__description {
    max-width: 668px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 23px;
    margin: 70px 0 0;
  }

  .about-project__description-cell {
    max-width: 319px;
  }

  .about-project__description-cell_place_bottom {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__table {
    max-width: 668px;
    width: 87vw;
    margin: 110px 0 0 0;
    -ms-grid-columns: 140px 1fr;
    grid-template-columns: 140px 1fr;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    height: 641px;
  }

  .about-project__container {
    padding: 0;
    width: 89vw;
    max-width: 464px;
  }

  .about-project__description {
    display: block;
    max-width: 464px;
    margin: 0;
  }

  .about-project__description-cell {
    margin: 0 0 16px;
    letter-spacing: -0.72px;
    font-size: 18px;
    max-width: 464px;
  }

  .about-project__description-cell_place_bottom {
    margin: 0 0 58px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
  }

  .about-project__description-cell_place_bottom:last-of-type {
    margin: 0 0 60px;
  }

  .about-project__table {
    max-width: 464px;
    width: 89vw;
    -ms-grid-columns: 100px 1fr;
    grid-template-columns: 100px 1fr;
    margin: 0;
  }

  .about-project__table-cell {
    font-size: 11px;
    padding-top: 11px;
  }

  .about-project__table-cell_place_bottom {
    padding-top: 7px;
  }
}