.footer {
  height: 172px;
  max-width: 1140px;
  width: 89vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__title-container {
  margin: 44px 0 20px;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  color: #A0A0A0;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.footer__date {
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__references-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.footer__list-item:first-of-type {
  margin-right: 20px;
}

.footer__platform {
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-decoration: none;
  color: black;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.footer__platform:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 92vw;
    max-width: 708px;
    height: 137px;
  }
}