.authorization-prompt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.authorization-prompt__question {
  color: #A0A0A0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 6px 0;
}

.authorization-prompt__link {
  color: #3456F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.authorization-prompt__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .authorization-prompt__question {
    font-size: 12px;
  }

  .authorization-prompt__link {
    font-size: 12px;
  }
}