.navtab {
  width: 129px;
  height: 36px;
  background-color: #073042;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.navtab:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .navtab {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .navtab {
    margin: 0 0 30px;
  }
}